{% extends 'admin_templates/base_template.html' %}
{% block title %}
Category List
{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_title %}
Category List <small>(Total: {{ categories_list|length }})</small>
{% endblock page_title %}

{% block page_content %}
<div class="row">
    <div class="col-lg-12">
        <div class="search-element">
        <div class="card">

                  <div class="card-body">

                  <form method="get">
                    <a href="{% url 'category_list' %}" class="btn btn-secondary btn-sm" style="float:right;margin-right:10px;">Clear</a>
                    <button class="btn btn-primary" type="submit" style="float:right"><i class="fas fa-search"></i> Search</button>
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250" style="width: 250px;float:right" name="filter" value="{{ filter }}">
                   </form>
                  </div>

                </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="search-element">
        <div class="card">

            <div class="card-body">
                <b>Sort By : - </b>
                <a href="{% url 'category_list' %}?filter={{ filter }}&orderby=id" class="{% if orderby == 'id' %}active-sort{% endif %}">ID</a>  |
                <a href="{% url 'category_list' %}?filter={{ filter }}&orderby=title" class="{% if orderby == 'title' %}active-sort{% endif %}">Title</a> |
                <a href="{% url 'category_list' %}?filter={{ filter }}&orderby=description" class="{% if orderby == 'description' %}active-sort{% endif %}">Description</a>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>URL Slug</th>
                                <th>Active</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories_list %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>{{ category.title }}</td>
                                <td>{{ category.description }}</td>
                                <td><span class="badge badge-warning">{{ category.url_slug }}</span></td>
                                <td>
                                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" {% if category.is_active == 1 %}checked{% endif %}>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'category_update' category.id %}" class="btn btn-sm btn-info">View <i class="fas fa-eye"></i></a>
                                        <a href="{% url 'category_update' category.id %}" class="btn btn-sm btn-warning">Edit <i class="fas fa-chevron-right"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="card">

                  <div class="card-body">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="{% url 'category_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                                <li class="page-item {% if i == page_obj.number %}active{% endif %}"><a class="page-link" href="{% url 'category_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="{% url 'category_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.next_page_number }}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}

                      </ul>
                    </nav>
                  </div>
                </div>
                </div>
</div>
{% endblock page_content %}

{% block custom_js %}{% endblock custom_js %}