{% extends 'admin_templates/base_template.html' %}
<!-- BLOCK FOR TITLE -->
{% block title %}
Dashboard
{% endblock title %}
<!-- END BLOCK FOR TITLE -->

<!-- BLOCK FOR CUSTOM CSS -->
{% block custom_css %}

{% endblock custom_css %}
<!-- END BLOCK FOR CUSTOM CSS -->

<!-- BLOCK FOR PAGE TITLE -->
{% block page_title %}
Dashboard
{% endblock page_title %}
<!-- END BLOCK FOR PAGE TITLE -->

<!-- BLOCK FOR PAGE MAIN CONTENT -->
{% block page_content %}
<div class="d-flex justify-content-between align-items-center">
    <p>Simple Dashboard Empty Page</p>
    <a href="{% url 'admin_home' %}" class="btn btn-primary btn-sm">
        <i class="fas fa-sync-alt"></i> Refresh
    </a>
</div>
{% endblock page_content %}
<!-- END BLOCK FOR PAGE MAIN CONTENT -->

<!-- BLOCK FOR CUSTOM JS -->
{% block custom_js %}

{% endblock custom_js %}
<!-- END BLOCK FOR CUSTOM JS -->