{% extends "admin_templates/base_template.html" %}

{% block page_content %}
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="section-title">Dashboard</h1>
            <a href="{{ request.path }}" class="btn btn-primary btn-sm">
                <i class="fas fa-sync-alt"></i> Refresh
            </a>
        </div>
        <p>Total Products: {{ total_products }}</p>
    </div>
</div>
{% endblock page_content %}
